<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vu's Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" class="myHeader">Vu's Tech Blog</a>
      </h1>
      <nav id="navbar">
        {{!-- {{#if loggedIn}}
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        {{/if}} --}}
        <ul id="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/login">Login or Sign Up</a></li>
          <li><a href="#" id="logout">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>